$block-size: 100px;
$grey-accent: #eee;
$items-gap: 1px;
$pink-accent: #ffbfcb;
$days: 'mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun';
$start-value: 0;
$container-padding: 5px;
$border-width: 1px;
$border-color: black;
$number-font-size: 30px;
